<a href="https://colab.research.google.com/github/harshbhabhera/Home-Assignment/blob/master/NotBnotG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True)

In [0]:
import numpy as np
import pandas as pd

In [0]:
punct = ["." , "," , ":", "(" , ")" , ";" , "]" , "[" , "!"]

In [11]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [13]:
data.shape

(53258, 9)

In [0]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [8]:
data['reviewText_wordcount'] = data['reviewText'].apply(word_count)
data['summary_wordcount'] = data['summary'].apply(word_count)
data.head()

       reviewerID  ...                                  summary_wordcount
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]

In [0]:
def count(str):
  wordCount = {'vowels':0,'cons':0,'countt':0}
  str = str.lower()
  wordCount['countt']=words(str)
  for i in range(0,len(str)):
    if str[i] in ('a','e','i','o','u'):
      wordCount['vowels']+=1
    else:
      wordCount['cons']+=1
    
  return wordCount

In [0]:
def words(str):
  words = str.split()
  count = 0
  for w in words:
    count+=1
  return count

In [0]:
data['reviewText_count'] = data['reviewText'].apply(count)

In [23]:

data['reviewText_count'].head()

0      {'vowels': 279, 'cons': 693, 'countt': 186}
1    {'vowels': 1504, 'cons': 3851, 'countt': 911}
2       {'vowels': 134, 'cons': 361, 'countt': 96}
3    {'vowels': 1089, 'cons': 2559, 'countt': 603}
4      {'vowels': 208, 'cons': 496, 'countt': 120}
Name: reviewText_count, dtype: object

In [0]:
import re

def StartbEndg(l):
    
    l1 = re.findall(r'\b[bB]\w+', l)
    n = re.findall(r'\b\w+[gG]\b',l)
    for x in n:
        if x not in l1:
            l1.append(x)

    return l1

In [0]:
data['reviewText_B_or_G'] = data['reviewText'].apply(StartbEndg)

In [27]:
data['reviewText_B_or_G'].head()

0    [bought, but, by, buy, but, be, but, best, be,...
1    [BELATED, burying, brandname, best, business, ...
2                [been, But, kicking, giving, working]
3    [been, because, but, buy, Black, But, beats, b...
4    [best, business, but, be, brackets, practicing...
Name: reviewText_B_or_G, dtype: object

In [0]:
##################

In [0]:
def Not_B_Not_G(l):
  not_b = re.findall(r'\b(?!b|B)\b\S+',l)
  noWhiteSpace = ' '.join([str(elem) for elem in not_b])
  notB_notG = re.findall(r'\b(\w*[^gG])\b[\W\s$]',noWhiteSpace)
  return notB_notG

In [32]:
data['reviewText_notB_notG'] = data['reviewText'].apply(Not_B_Not_G)
data['reviewText_notB_notG'].head()

0    [I, my, first, HP12C, in, about, 1984, or, so,...
1    [WHY, THIS, REVIEW, I, feel, very, obliged, to...
2    [I, have, an, HP, 48GX, that, has, for, more, ...
3    [I, ve, started, more, finance, stuff, recentl...
4    [For, simple, calculations, and, discounted, c...
Name: reviewText_notB_notG, dtype: object