<a href="https://colab.research.google.com/github/harshbhabhera/Home-Assignment/blob/master/Spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import nltk

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#NLTK but dict will have
#Tokenizer, Lemitizer, Pos Tagger, Dependancy Parser
#Nouns from postag

In [0]:
import spacy

In [0]:
from spacy.tokenizer import Tokenizer

In [0]:
?spacy

In [11]:
?tokenizer

Object `tokenizer` not found.

In [0]:
nlp = spacy.load("en_core_web_sm")

In [0]:
def spacyy(str):
  dict = {}
  doc = nlp(str)
  token = []
  lemm = []
  postag= []
  dep = []
  noun = []

  
  for t in doc:
      token.append(t.text)
      lemm.append(t.lemma_)
      postag.append(t.pos_)
      dep.append(t.dep_)
      i = list(zip(token,postag))
      for n in i:
        if n[1]=='NOUN':
          noun.append(n[0])
      dict = {"tokens" : token, "lemmatizer" : lemm , "postag": postag, "dep" : dep, "noun": noun}
  return dict

In [0]:
dff = df.iloc[0:5]

In [61]:

dff["Spacy"] = dff["reviewText"].apply(spacyy)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
dff["Spacy"]

0    {'tokens': ['I', 'bought', 'my', 'first', 'HP1...
1    {'tokens': ['WHY', 'THIS', 'BELATED', 'REVIEW'...
2    {'tokens': ['I', 'have', 'an', 'HP', '48GX', '...
3    {'tokens': ['I', ''ve', 'started', 'doing', 'm...
4    {'tokens': ['For', 'simple', 'calculations', '...
Name: Spacy, dtype: object

In [63]:
dff

       reviewerID  ...                                              Spacy
0  A32T2H8150OJLU  ...  {'tokens': ['I', 'bought', 'my', 'first', 'HP1...
1  A3MAFS04ZABRGO  ...  {'tokens': ['WHY', 'THIS', 'BELATED', 'REVIEW'...
2  A1F1A0QQP2XVH5  ...  {'tokens': ['I', 'have', 'an', 'HP', '48GX', '...
3   A49R5DBXXQDE5  ...  {'tokens': ['I', ''ve', 'started', 'doing', 'm...
4  A2XRMQA6PJ5ZJ8  ...  {'tokens': ['For', 'simple', 'calculations', '...

[5 rows x 10 columns]